# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env

# Virtual Environment
.venv/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Database
*.db
*.sqlite3

# Session files
flask_session/
